.App {
  font-family: sans-serif;
  text-align: center;
}

header {
  background-color: #ccc;
  height: 58px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 4;
  position: relative;
  list-style-type: none;
  margin-bottom: 16px;
}

img {
  transition: transform 0.5s;
}
.isSelected {
  transform: scale(0.6);
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  position: absolute;
  left: 48px;
  top: 34px;
  border-radius: 50%;
  background-color: white;
  /* left: 40px; */

  animation: checkboxOpacity 0.5s;
}
@keyframes checkboxOpacity {
  0% {
    opacity: 0;
    left: 0;
    top: 0;
  }

  50% {
    opacity: 0;
    left: 16px;
    top: 8px;
  }

  100% {
    opacity: 1;
    left: 48px;
    top: 34px;
  }
}
